{% extends 'base.html' %}
{% load static %}
{% block title %}
events
{% endblock %}
{% block container %}
<section class="main-cointaier container">
    <h1>Events</h1>
    <section class="community">
        <div class="community__logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo Comunities Techt Latam">
        </div>
        <article class="community__details">
            <div>
                <h3>Comunities Techt Latam</h3>
                <p>Nunc elementum enim ut est pulvinar, in dapibus elit malesuada. Aenean in purus urna. Praesent lobortis magna sed commodo finibus. Aliquam in posuere.</p>
            </div>
            <div class="community__thirdpartys">
                <img class="community__flag" src="https://restcountries.eu/data/mex.svg" alt="Logo Comunities Techt Latam">
                <div class="community__media">
                
                    <a href=""><i class="icon icon-twitter"></i></a>
                    <a href=""><i class="icon icon-face"></i></a>
                    <a href=""><i class="icon icon-insta"></i></a>
                </div>
            </div>
        </article>
    </section>
    <div class="tags">
        <a href="/communities/all">TODAS</a>
        {% for category in categories %}
            <a href="/communities/{{category.name}}">{{ category.name }}</a>
        {% endfor %}
        <a href="#">+ OTROS</a>
    </div>
</section>
{% endblock %}