/* Global */
html {
    --base-color-background: white;
    --base-color-link: aquamarine;
    --base-color: #0C0C0C;
    --dark-green: #01A86B;
    --light-green:#00E18F;
    --light-gray: #CEC4C4;
    --box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
    --border-gray: 1px solid #CEC4C4;
  }
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 100px 1fr 300px/  1fr;
    grid-template-areas: "header header"
                         "content content"
                         "footer footer";
    background-color: rgba(0, 0, 0, 0.25);
}
/* FOMS and inputs*/
form {
    padding: 0 10px;
}
form p {
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
}
input, textarea, select, button  {
    outline: none;
    margin: 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='text'],
input[type='url'], 
input[type='email'],
input[type='number'],
select,
textarea {
    width : 300px;
    height: 35px;
    margin-left: 5px;
    background: #FFFFFF;
    border: var(--border-gray);
    box-sizing: border-box;
    padding: 6px;
    border-radius: 6px;
}
input[type='text']:focus,
input[type='url']:focus,
input[type='email']:focus,
input[type='number']:focus,
select:focus,
textarea:focus{
    transition-duration: 1s;
    transition-timing-function: ease-in;
    border: 1px solid var(--light-green);
}
select {
    /* reset arrow*/
  margin: 0;
  margin-left: 5px;    
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, var(--light-gray), var(--light-gray));
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
select:focus {
    background-image:
        linear-gradient(45deg, var(--light-green) 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, var(--light-green) 50%),
        linear-gradient(to right, var(--light-gray), var(--light-gray));
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}
textarea {
    height: 100px;
}
input[type='file'] {
    width : 300;
}
input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
  }
input[type='file']::before {
    content: 'Select a file';
    margin-left: 5px;
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: var(--border-gray);
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-size: 10pt;
}
input[type='file']:hover::before {
    border-color: var(--light-green);
}
input[type='file']:active::before {
    background: -webkit-linear-gradient(top, var(--light-green), var(--dark-green));
}
button[type='submit'] {
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: white    ;
    background: var(--base-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}
button[type='submit']:hover {
    cursor: pointer;
}
/* main sections */
.container {
    background-color: var(--base-color-background);
    padding: 0px 10px;
}
.container_black {
    color: white;
    background-color: var(--base-color);
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.container_black b {
    color: var(--light-green);

}
.header-container {
    grid-area: header;
    display: flex;
    position: fixed;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
}
.header-container__logo {
    margin: 0;
}
.header-container__nav {
    margin-right: 10px;
}
.header-container__nav a {
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 800;
    color: var(--base-color);
    text-decoration: none;
}
.main-cointaier {
    grid-area: content;
    background-color: var(--base-color-background);
}
.footer-container {
    grid-area: footer;
    background-image: url("/static/static/img/footer_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 20px 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.footer__media {
    display: flex;
}
/* UI */
.intro {
    display: flex;
    justify-content: space-evenly;
}
.intro-desc .intro-desc__info {
    font-size: 25px;
    line-height: 30px;
}
.intro-desc .intro-desc__title {
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 60px;
}
.tags {
    display: flex;
    overflow: hidden;
    margin: auto;
    flex-wrap: wrap;
    width: 80%;
  }
.tags a {
  font-size: 20px;
  line-height: 23px;
  margin: 10px;
  padding: 5px 10px;
  color: #666666;
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  box-shadow:var(--box-shadow);
  border-radius: 8px;
}
.tags a:active {
    transform: translateY(1px);
    border-color: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.communities {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
}
.community {
    display: grid;
    grid-template: 1fr 150px / 1fr;
    column-gap: 10px;
    width: 340px;
    height: 400px;
    box-shadow:var(--box-shadow);
    grid-template-areas: "c_logo"
                         "c_details";
    border-radius: 15px;
    margin: 5px;
}
.community__logo {
    grid-area: c_logo;
    height: 250px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 0px;
}
.community__logo img {
    object-fit: fill;
    border-radius: 15px 15px 0px 0px;
    height: 100%;
    width: 100%;
}
.community__details {
    grid-area: c_details;
    display: flex;  
    justify-content: space-between;
    padding: 10px;
}
.community__details h3 {
    font-size: 18px;
    margin: 0;
}
.community__details p {
    font-size: 14px;
}
.community__thirdpartys{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.community__media {
        display: flex;
}
.community__flag {
    height: 15px;
}

.icon {
    display: block;
    width: 15px;
    height: 15px;
    margin: 2px;
    background-repeat: no-repeat;
}
.icon-twitter {
    background-image: url("/static/static/img/tweet_icon.svg");
}
.icon-insta {
    background-image: url("/static/static/img/insta_icon.svg");
}
.icon-face {
    background-image: url("/static/static/img/tweet_icon.svg");
}
.icon__footer-twitter {
    width: 41px;
    height: 41px;
    background-image: url("/static/static/img/footer_tweet_icon.svg");
}
.icon__footer-insta {
    width: 41px;
    height: 41px;
    background-image: url("/static/static/img/footer_insta_icon.svg");
}
.icon__footer-face {
    width: 41px;
    height: 41px;
    background-image: url("/static/static/img/footer_face_icon.svg");
}

@media (max-width: 700px) { 
    .intro{
        flex-direction: column;
    }
 }
